name: lp_messaging_sdk_flutter_example
description: Example app using lp_messaging_sdk_flutter.
publish_to: "none"

environment:
  sdk: ^3.10.7

dependencies:
  flutter:
    sdk: flutter

  lp_messaging_sdk_flutter:
    path: ..

  shared_preferences: ^2.2.3

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
