name: lp_messaging_sdk_flutter
description: Flutter plugin wrapping LivePerson native iOS/Android Messaging SDKs.
version: 0.0.1-experimental.1
homepage: https://github.com/LP-Messaging

environment:
  sdk: ^3.10.7
  flutter: '>=3.38.0'

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.1.4

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  plugin:
    platforms:
      android:
        package: com.liveperson.lp_messaging_sdk_flutter
        pluginClass: LpMessagingPlugin
      ios:
        pluginClass: LpMessagingPlugin
